/* src/index.css */
@font-face {
  font-family: 'SCDream'; /* 사용할 폰트 이름을 입력 */
  src: url('./assets/fonts/SCDream1.otf') format('otf');
  font-weight: 100; /* 폰트 두께를 설정 (다운로드한 폰트 파일마다 상이함) */
  font-style: Thin; /* 필요한 경우 폰트 스타일을 설정 (예: italic) */
}

@font-face {
  font-family: 'SCDream'; /* 사용할 폰트 이름을 입력 */
  src: url('./assets/fonts/SCDream2.otf') format('otf');
  font-weight: 200; /* 폰트 두께를 설정 (다운로드한 폰트 파일마다 상이함) */
  font-style: ExtraLight; /* 필요한 경우 폰트 스타일을 설정 (예: italic) */
}

@font-face {
  font-family: 'SCDream'; /* 사용할 폰트 이름을 입력 */
  src: url('./assets/fonts/SCDream3.otf') format('otf');
  font-weight: 300; /* 폰트 두께를 설정 (다운로드한 폰트 파일마다 상이함) */
  font-style: Light; /* 필요한 경우 폰트 스타일을 설정 (예: italic) */
}

@font-face {
  font-family: 'SCDream'; /* 사용할 폰트 이름을 입력 */
  src: url('./assets/fonts/SCDream4.otf') format('otf');
  font-weight: 400; /* 폰트 두께를 설정 (다운로드한 폰트 파일마다 상이함) */
  font-style: Regular; /* 필요한 경우 폰트 스타일을 설정 (예: italic) */
}

@font-face {
  font-family: 'SCDream'; /* 사용할 폰트 이름을 입력 */
  src: url('./assets/fonts/SCDream5.otf') format('otf');
  font-weight: 500; /* 폰트 두께를 설정 (다운로드한 폰트 파일마다 상이함) */
  font-style: Medium; /* 필요한 경우 폰트 스타일을 설정 (예: italic) */
}

@font-face {
  font-family: 'SCDream'; /* 사용할 폰트 이름을 입력 */
  src: url('./assets/fonts/SCDream6.otf') format('otf');
  font-weight: 600; /* 폰트 두께를 설정 (다운로드한 폰트 파일마다 상이함) */
  font-style: Bold; /* 필요한 경우 폰트 스타일을 설정 (예: italic) */
}

@font-face {
  font-family: 'SCDream'; /* 사용할 폰트 이름을 입력 */
  src: url('./assets/fonts/SCDream7.otf') format('otf');
  font-weight: 700; /* 폰트 두께를 설정 (다운로드한 폰트 파일마다 상이함) */
  font-style: ExtraBold; /* 필요한 경우 폰트 스타일을 설정 (예: italic) */
}

@font-face {
  font-family: 'SCDream'; /* 사용할 폰트 이름을 입력 */
  src: url('./assets/fonts/SCDream8.otf') format('otf');
  font-weight: 800; /* 폰트 두께를 설정 (다운로드한 폰트 파일마다 상이함) */
  font-style: Heavy; /* 필요한 경우 폰트 스타일을 설정 (예: italic) */
}

@font-face {
  font-family: 'SCDream'; /* 사용할 폰트 이름을 입력 */
  src: url('./assets/fonts/SCDream9.otf') format('otf');
  font-weight: 900; /* 폰트 두께를 설정 (다운로드한 폰트 파일마다 상이함) */
  font-style: Black; /* 필요한 경우 폰트 스타일을 설정 (예: italic) */
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 5px;
  font-family: 'SCDream';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}