<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Payment Page</title>
  <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.6.min.js"></script>
</head>
<body>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const orderId = "order_" + new Date().getTime() + "_" + Math.floor(Math.random() * 1000000);
    BootPay.request({
      price: '1000',
      application_id: '64a0405400be04001d180d86',
      name: '블링블링 마스카라',
      pg: 'kcp',
      method: 'card',
      show_agree_window: 0,
      items: [
        {
          item_name: '나는 아이템',
          qty: 1,
          unique: '123',
          price: 1000,
          cat1: 'TOP',
          cat2: '티셔츠',
          cat3: '라운드 티',
        }
      ],
      user_info: {
        username: 'taehwan',
        email: 'hhh@gmail.com',
        addr: 'anyang',
        phone: '010-1234-4567'
      },
      order_id: orderId,
      params: {callback1: '그대로 콜백받을 변수 1', callback2: '그대로 콜백받을 변수 2', customvar1234: '변수명도 마음대로'},
      account_expire_at: '2020-10-25',
      extra: {
        start_at: '2019-05-10',
        end_at: '2022-05-10',
        vbank_result: 1,
        quota: '0,2,3',
        theme: 'purple',
        custom_background: '#00a086',
        custom_font_color: '#ffffff'
      }
    }).error(function (data) {
      console.log(data);
    }).cancel(function (data) {
      console.log(data);
    }).ready(function (data) {
      console.log(data);
    }).confirm(function (data) {
      console.log(data);
      var enable = true;
      if (enable) {
        BootPay.transactionConfirm(data);
      } else {
        BootPay.removePaymentWindow();
      }
    }).close(function (data) {
      console.log(data);
    }).done(function (data) {
      console.log(data);
    });
  });
</script>
</body>
</html>